<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/assets/css/common.css" />
<link rel="icon" href="/favicon.ico" />
<title>{{title}}</title>
<meta name="title" content="{{title}}">
<meta name="description" content="{{desc}}">
<meta property="og:title" content="{{title}}">
<meta property="og:description" content="{{desc}}">
<meta property="og:url" content="https://leadrdrk.com{{href}}">
<meta property="og:type" content="website">
<meta name="twitter:title" content="{{title}}">
<meta name="twitter:description" content="{{desc}}">